.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 79vh;
    padding: 20px;
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 20px;
    color: black;
}

.datepicker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-datepicker-wrapper {
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
}

.react-datepicker__input-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.react-datepicker__input-container input:focus {
    outline: none;
}

.submit-button {
    padding: 10px 20px;
    width: 200px;
    height: 40px;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    border-radius: 17px;
    transition: background-color 0.3s, color 0.3s;
}

.current-date {
    background-color: #007bff !important;
    color: white !important;
}

.submit-button:disabled {
    cursor: not-allowed;
    background-color: white;
    color: black; 
}

.submit-button:hover {
    color: white;
    background-color: rgba(51, 51, 51, 1);
}

.completed-date {
    background-color: rgb(77, 174, 77) !important;
    color: white !important;
}

.partial-date {
    background-color: rgb(225, 225, 46) !important;
    color: black !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

