/* Стили для компонента DatePick */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f9f9f9;
    text-align: center;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.datepicker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-datepicker-wrapper {
    display: inline-block;
    width: auto;
    margin-bottom: 20px;
}

.react-datepicker__input-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

.react-datepicker__input-container input:focus {
    border-color: #007bff;
    outline: none;
}

.submit-button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: not-allowed;
    border: none;
    border-radius: 15px;
    background-color: grey;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.submit-button:disabled {
    cursor: not-allowed; /* Указываем, что курсор неактивен */
    background-color: #ddd; /* Серый цвет кнопки */
    color: #666; /* Цвет текста кнопки */
}

.submit-button:hover {
    background-color: black; /* Цвет кнопки при наведении */
}

/* Новые стили для выделения завершенных и частично завершенных дней */
.completed-date {
    background-color: rgb(77, 174, 77) !important;
    color: white !important;
}

.partial-date {
    background-color: rgb(225, 225, 46) !important;
    color: black !important;
}
