.header {
    margin-top:25px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    color:black;
    font-weight: lighter;
    margin-right: 29px;
    }

.logo {
    width:149px;
    height:83px;
    margin-left: 29px;;
}

.header-center {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.child-info {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-left: 20px;
}


.logout-button {
    align-items: center;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    color: black;
    background-color: white;
    border-color: white;
}

.nav-button{
    margin-top: 25px;
    align-items: center;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    text-decoration: none;
    box-shadow: none;
    color: black;
    background-color: white;

}

.nav-button:hover,
.logout-button:hover {
    background-color: rgb(114, 114, 114);
    color: white;
}
