body {
    font-family: Arial, sans-serif;
    min-height: 80vh;
}

.orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    background-color: #f9f9f9;
}

.orders-list {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-button {
    padding: 10px 20px;
    border: 1px solid black;
    margin: 10px 0;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    text-align: left; /* Выравнивание текста слева */
    position: relative;
}

.order-button:hover {
    background-color: rgb(114, 114, 114);
    color: white;
}

.order-date {
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    margin-right: auto;
}

.order-price {
    font-weight: bold;
    color: black;
    font-size: 1.2em;
    text-align: center;
    margin-right: auto; 
    flex: 1; 
}

.order-status {
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    right: 20px;
}

.order-status.paid {
    color: green;
}

.order-status.not-paid {
    color: red;
}
