.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
}

.App-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}



.App-link {
  color: #61dafb;
}
